/* ---------------------------------------------------------------
			RE-INITIALISATION DES TAGS HTML
	Pour éviter les valeurs par défaut différentes suivant les 
	navigateurs. Seuls les tags le plus	souvent utilisés et non 
	dépréciés sont pris en compte.
	Reset complet : http://meyerweb.com/eric/tools/css/reset/
--------------------------------------------------------------- */ 
html, body, div, span, applet, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, img, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;	
	vertical-align: baseline;
	background: transparent;
	}
body {
	line-height: 1;
	}	
ol, ul {
	list-style: none;
	}
table { 
	border-collapse: collapse;
	border-spacing: 0;
	}
	
/* ---------------------------------------------------------------
	FEUILLE DE STYLE ORIGINALE	
--------------------------------------------------------------- */
html {
	height: 100%
	}
	
body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 13px;  /*10pt;	*/
  	color: #404040;
	background: #9ac5e7 url(../images/fond.jpg);  	
	}
	
p {
	padding: 10px 5px;	
}

a {
	color: #3c96f1;
	text-decoration: none;
}
	
a:hover {
	text-decoration: underline;
}
	
strong {
	font-weight: bold;
}


#bcPage {
	margin: 10px auto;
	width: 1030px;
	position: relative;
}


	
/* ---------------------------------------------------------------
	BLOC ENTETE
--------------------------------------------------------------- */
#bcEntete {
	background: url(../images/tete.png) no-repeat; 
	height: 135px;
	position: relative;
}

#bcLogo {
	background: url(../images/logo.png) no-repeat;
	width: 285px;
	height: 45px;
	position: absolute;
	top: 10px;
	left: 30px;
}

	
#btnDeconnexion {
	background: url(../images/deconnexion.png) no-repeat;
	height: 36px;
	width: 22px;
	position: absolute;
	right: 30px;
	top: 10px;
}
	
	
#bcOnglets { 
	position: absolute;
	left: 321px;
	top: 5px;
}
	
#bcOnglets a,
#bcOnglets h2 {
	text-decoration: none; 
    text-align: center;
	font: bold 16px Verdana;    
	color: #757575; 
	background: url(../images/onglet_off.png) no-repeat; 
	float: left;
	width: 158px;
	height: 24px;
	margin-right: 1px;
	padding-top: 7px;
}

#bcOnglets a:hover { 
	color: #ff9b37; 
}

#bcOnglets h2 {
	background: url(../images/onglet_on.png) no-repeat; 
	color: #ff9b37;
	height: 27px;
}
	

	
/* ---------------------------------------------------------------
	BLOC PIED DE PAGE
--------------------------------------------------------------- */
#bcPied {
	position: relative;
	clear: both;
	height: 156px;
	background: transparent url(../images/pied.png) no-repeat;		
	}

#bcPied a {
	text-decoration: none; 
	font: 14px Verdana;    
	color: #404040; 
	position: absolute;
	background: transparent url(../images/fleche_pied.png) no-repeat;
	padding-left: 22px;
	height: 22px;
	}
	
#apropos {	
	left: 198px;
	top: 55px;
	}		

#confident {	
	left: 360px;
	top: 75px;
	}
		
#conditions {	
	left: 598px;
	top: 95px;
	}
	
#bcPied a:hover {
	text-decoration: underline;
	color: #000; 
	}
	
#copyright {
	font: 14px Verdana;    
	position: absolute;	
	left: 792px;
	top: 55px;
	}
	


/* ---------------------------------------------------------------
	BLOCS DE CONTENU
--------------------------------------------------------------- */

#bcContenu {
	position: relative;
	background: url(../images/contenu.png) repeat-y;
	min-height: 500px;
	padding: 0px 10px;
}



#bcGauche {
	float: left;	
	width: 250px;
	margin: 10px 10px;
}

#bcCentre {
	position: relative;
	display: block;
	margin-left: 250px;	
}

/* ---------------------------------------------------------------
	BLOC CALENDRIER
--------------------------------------------------------------- */

#calendrier {
	background-color: #FFFFFF;
	border: solid 2px #9ac5e7;
	width: 235px;
	text-align: center;
	padding: 1px;
	margin-bottom: 20px;
}	

#calendrier table {
	width: auto;
	margin: 10px auto;	
}

#calendrier p {
	background-color: #FFF;
	text-align: center;
	margin-bottom: 5px;
	padding: 10px;		
}

#calendrier td a {
	display: block;
	width: 30px;
	height: 22px; 	
	padding-top: 7px;
	color: #000000;	
}

#calendrier a:hover {
	text-decoration: none;	
}

#calendrier a.lienJourHorsMois {
	color: #999999;	
}

#calendrier th {
	font-weight: bold;
	height: 20px;
}

#calendrier td {
	border: solid 1px #000000;
	color: #000000;	
} 

.flechegauche {
	float: left;
	width: 20px;
	height: 20px;	
}

.flechedroite {
	float: right;
	width: 20px;
	height: 20px;	
}

.aligncenter {
	text-align:center;	
}

.jourCourant {
	background-color: #5555FF;	
}

.semaineCourante {
	background-color: #9ac5e7;
}

.aujourdHui {
	background-color: #FF5555;
}


/* ---------------------------------------------------------------
	BLOC AFFICHAGE DES CATEGORIES
--------------------------------------------------------------- */

#categories {
	background-color: #FFFFFF;
	border: solid 2px #9ac5e7;
	width: 235px;
	padding: 1px 1px 10px 1px;
}


#categories h3 {
	background-color: #9ac5e7;
	padding: 10px;	
	font-weight: bold;
	font-size: 13px;  /*10pt;	*/
	text-align: center;
}

#categories p {
	padding: 10px 10px 5px 10px;	
}

#categories ul {
	margin-bottom: 10px;
}
	
#categories li {
	padding-top: 2px; 	
}	

.categorie {
 	float: left; 
	margin: 0px 5px 0px 20px; 
	width: 10px; 
	height: 10px; 
}

.categorieSui {
	margin: 0px 5px 0px 40px; 
}	

.catSui {
	background-image: url(../images/puce.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}					  				 

.groupeA {
	border: solid 2px #00DD00; 
	background-color: #00FF00;
}
.groupeB {
	border: solid 2px #DD0000; 
	background-color: #FF0000;
}
.groupeC {
	border: solid 2px #0000DD; 
	background-color: #0000FF;
}

/* ---------------------------------------------------------------
	RENDEZ-VOUS ET EVENEMENTS
--------------------------------------------------------------- */

.rendezvous {
	display: block;
	color: #000;
	font-size: 11px; /*8pt;*/
	position: absolute; 
    margin: 1px; 
    padding: 2px 0px 0px 2px; 
    color: #000000;	
    word-wrap: break-word;
	overflow: auto;				          
}
.rdvJEntier {
	margin: 0px; 
}

#jEntier{
	float: right;
	width: 732px;
	height: 26px;
	padding: 2px 0 1px;
	
}

.newrdv{
	text-align: right;
	position: relative;
	left: 230px;
	width: 600px;
	height:300px;
	line-height: 2.5;
	top: 40px;

}

.titrerdv{
	position: relative;
	line-height: 1.2;
	left: 100px;
	top: 20px;
	font-size: 18px; 
	border-bottom: 2px solid black;
	width: 550px;
}


/* ---------------------------------------------------------------
	AGENDA
--------------------------------------------------------------- */
#titreAgenda {
	text-align: center;
	width: 672px; 
	margin: 0 auto; 
	padding-left: 30px;
}

#agenda { 
 	position: relative;
 	margin: 0 auto 0px;
 	width: 746px;
 	height: 540px;
 } 
 
#agenda a { 
 	color: #FFFFFF; 
 	text-decoration: none;
	display: block;
	height: 40px; 
	background-color: transparent;
	border-bottom: dashed 1px #5555FF;	
}

#agenda a.case-heure-bas {
	border-bottom: none;
}

#agenda a:hover { 
	color: #FFFFFF; 
	text-decoration: underline;
	background-color: #9ac5e7;
}

#intersection { 
	float: left; 
	height: 15px; 
	width: 30px; 
}

#col-heures { 
	float: left;
	width: 30px;
}

#col-heures div { 
	height: 41px; 
	font-size: 9px;  /*7pt; */
	right: 0px; 
	padding-right: 1px;
	text-align: right; 
}

.border-TRB {	
	border-top: solid 2px #5555FF; 
	border-right: solid 2px #5555FF; 
	border-bottom: solid 2px #5555FF; 
}
 
.border-L { 
	border-left: solid 2px #5555FF; 
}

.col-jour { 
	margin-top: 1px; 
	float: left; 
}

.case-jour { 
	background-color: #5555FF;
	float: left; 
	height: 20px; 
	padding-top: 2px;
	text-align: center; 
	color: #FFF;
}

.taille1 {
	width: 672px;
}
.taille1RDV{
	width: 664px;
}

.taille2 {
	width: 336px;
}
.taille2RDV{
	width: 328px;
}

.taille3 {
	width: 224px;
}
.taille3RDV{
	width: 216px;
}

.taille4 {
	width: 168px;
}
.taille4RDV{
	width: 160px;
}

.taille5 {
	width: 134.4px;
}
.taille5RDV{
	width: 126.4px;
}

.taille6 {
	width: 112px;
}
.taille6RDV{
	width: 104px;
}

.taille7 {
	width: 96px;
}
.taille7RDV{
	width: 88px;
}


/* ---------------------------------------------------------------
	PAGE INSCRIPTION et IDENTIFICATION
--------------------------------------------------------------- */

#titreII{
	text-align: center;
	margin: 0px auto 20px;
	padding-top: 20px;
}

.titreIdentifi{
	position: relative;
	right: 60px;
}

.basII{
	text-align: center;
	margin: 10px auto 0;
}

.boutonII{
	background: url(../images/bouton.png);
	color: white;
	width: 102px;
	height: 26px;
	border: none;
}
.boutonIIAnnuler{
	text-align: left;
}

.colonneGauche{
	padding-right: 10px;
}

#tableII{
	padding-right: 10px;
}
.II{
	text-align: right;
	position: relative;
	left: 310px;
	width: 600px;
	line-height: 2.5;

}


/* ---------------------------------------------------------------
	PAGE PARAMETRES
--------------------------------------------------------------- */

.titreParametre{
	font-weight: bold;
	font-size: 14px;
}

.titreparam1{
	position: relative;
	line-height: 1.2;
	border-bottom: 2px solid black;
	width: 800px;
	padding-top: 20px;
	margin: 0px auto;

}

.titreparam2{
	position: relative;
	line-height: 1.2;
	border-bottom: 2px solid black;
	width: 800px;
	margin: 40px auto 0px;
}

.newparamCategorie .titreparam3{
	position: relative;
	line-height: 1.2;
	width: 800px;
	margin-top: 10px;
	text-align: left;
}


.newparamUtilisateur{
	text-align: right;
	position: relative;
	margin: 10px 0px;
	width: 400px;
	left: 320px;
	line-height: 2.5;

}

.newparamCalendrier{
	text-align: right;
	position: relative;
	margin: 10px 0px 0px;
	left: 380px;
	width: 420px;
	line-height: 2.5;
	border: 1px solid black;

}

.newparamCategorie{
	position: relative;
	margin: 10px 0px 0px 0px;
	left: 160px;
	width: 700px;
	line-height: 1.5;

}

.boutonCatSav{
	background: url(../images/sauver.png);
	color: transparent;
	width: 	25px;
	height: 25px;
	border: none;
}
.boutonCatSupp{
	background: url(../images/supprimer.png);
	color: transparent;
	width: 25px;
	height: 25px;
	border: none;
}

.catEspace{
	padding-right: 15px;
}

.boutonAjouter{
	padding-left: 30px;
}

.confirmationSupp{
	position: relative;
	border: 2px solid #FF9933;
	color: #FF9933;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 600px;
	height: 40px;
	margin-left: 150px;
}

.confirmationSave{
	position: relative;
	border: 2px solid green;
	color: green;
	text-align: center;
	margin: 10px auto;
	padding-top: 10px;
	width: 400px;
	height: 30px;

}

/* ---------------------------------------------------------------
	PAGE RECHERCHE ET ABONNEMENT
--------------------------------------------------------------- */
	
.recherche{
	margin: auto;
	width: 680px;
	height: 20px;
	padding-left: 10px;
}

#zoneRecherche{
	margin: auto;
	padding: 10px 0 20px;
	width: 600px;
}
.boutonRA{
	float: right; margin-right: 10px;
}
